.holder{
  display: grid;
  grid-template-areas: 
    "v v v v"
    "ac ac del div"
    "one two three multi"
    "four five six minus"
    "seven eight nine plus"
    "point zero equal equal";
  
  margin: auto;
    
}

.screen{
  grid-aera:v;
}

.ac{
  grid-aera:ac;
}

.del{
  grid-aera:del;
}

.div{
  grid-aera:div;
}

.multi{
  grid-aera:multi;
}

.minus{
  grid-aera:minus;
}

.plus{
  grid-aera:plus;
}
.equal{
  grid-aera:equal;
}


.one{
  grid-aera:one;
}

.two{
  grid-aera:two;
}

.three{
  grid-aera:three;
}

.four{
  grid-aera:four;
}

.five{
  grid-aera:five;
}

.six{
  grid-aera:six;
}

.seven{
  grid-aera:seven;
}

.eight{
  grid-aera:eight;
}
.nine{
  grid-aera:nine;
}



.zero{
  grid-aera:zero;
}
